<div class="grid grid-cols-3 gap-8" >
  <app-product title="Producto" [price]="333" img="https://picsum.photos/640/640?r=33" (addToCard)="desdeHijo($event)"  ></app-product>
  <app-product title="Producto" [price]="333" img="https://picsum.photos/640/640?r=33" (addToCard)="desdeHijo($event)"  ></app-product>
  <app-product title="Producto" [price]="333" img="https://picsum.photos/640/640?r=33" (addToCard)="desdeHijo($event)"  ></app-product>
  <app-product title="Producto" [price]="333" img="https://picsum.photos/640/640?r=33" (addToCard)="desdeHijo($event)"  ></app-product>
  <app-product title="Producto" [price]="333" img="https://picsum.photos/640/640?r=33" (addToCard)="desdeHijo($event)"  ></app-product>
  <app-product title="Producto" [price]="333" img="https://picsum.photos/640/640?r=33" (addToCard)="desdeHijo($event)"  ></app-product>
</div>
